Django==4.2.23
djangorestframework==3.16.1
django-cors-headers==4.7.0
dj-database-url==3.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.1
tzdata==2025.2
whitenoise==6.8.2
dj-database-url==2.1.0
